<article class="list">
  <% tasks.forEach((task, index) => { %>
  <form
    action="/account/<%= account.email %>/<%= account.password %>/todo/<%= account.template %>"
    class="task"
    method="post"
  >
    <h3 class="task-text"><%= task %> : <%= index %></h3>

    <button
      type="submit"
      class="task-button"
      name="removeButton"
      value="<%= index %>"
    >
      <img class="task-button-image" src="/lists/delete.png" />
    </button>
  </form>
  <% }) %>
</article>

<form
  action="/account/<%= account.email %>/<%= account.password %>/todo/<%= account.template %>"
  id="list-form"
  method="post"
>
  <input
    class="list-form-input"
    placeholder="Add Task"
    maxlength="50"
    name="newTask"
    type="text"
  />

  <div class="list-form-button-container">
    <button class="list-form-button add" type="submit" name="addButton">
      <img class="list-form-button-image" src="/lists/add.png" />
    </button>

    <button class="list-form-button add" type="reset">
      <img class="list-form-button-image" src="/lists/reset.png" />
    </button>
  </div>
</form>
